#root-config, .predicate-config {
    display: inline-block;
    vertical-align: top;
    
    padding: 2vmax;
    border: 0.3vmax solid black;
    border-radius: 8px;
    margin: 0.5vmax;
}

#root-config {
    width: 40%;
}

.predicate-config {
    width: 33%;
}

.config-description {
    text-align: left;
}

.included-point-predicates {
    font-style: italic;
    text-align: left;
}

.config-row div {
    display: inline-block;
    padding: 1vmax;
}