.tile-grouping {
    display: inline-block;
    border-radius: 8px;
    border: 0.1vmax solid transparent;
}

.tile-input-bar-elements {
    display: inline-block;
}

.pair {
    background-image: linear-gradient(to top right, slategray, black);
}

.chow {
    background-image: linear-gradient(to top right, darkcyan, black);
}

.pong {
    background-image: linear-gradient(to top right, darkmagenta, black);
}

.kong {
    background-image: linear-gradient(to top right, bisque, black);
}

.concealed {
    border: 0.1vmax dashed white;
}