.tile-grouping {
    display: inline-block;
    margin: 0.5vmax 0.5vmax;
    border-radius: 8px;
    border: 0.1vmax solid transparent;
    padding: 0em 0.5vmax 0.2em 0.5vmax;
}

.tile-input-bar-elements {
    display: inline-block;
}

.pair {
    background-image: linear-gradient(to top right, slategray, black);
}

.chow {
    background-image: linear-gradient(to top right, darkcyan, black);
}

.pong {
    background-image: linear-gradient(to top right, darkmagenta, black);
}

.kong {
    background-image: linear-gradient(to top right, bisque, black);
}