.dragon-green {
    color: green;
}

.dragon-red {
    color: red;
}

.dragon-white {
    color: cornflowerblue;
}

.green-tile {
    color: green
}

.reversible-tile {
    background-image: linear-gradient(to top right, purple, black);
}