.mahjong-tile-button {
    font-size: 3.5vmax;
    font-variant-emoji: unicode;
    padding: 0em 0.5vmax 0.2em 0.5vmax;
    margin: 0.6vmax 0.6vmax 0.6vmax 0.6vmax;
}

#dragon-green {
    color: green;
}

#dragon-red {
    color: red;
}

#dragon-white {
    color: cornflowerblue;
}

.green-tile {
    color: green
}

.reversible-tile {
    background-image: linear-gradient(to top right, purple, black);
}